@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

header{
    background-color: black;
    width: 100%;
    display: flex;
}

.container .logo{
    align-items: flex-start;
    width: 120px;
    margin: 20px;
}

.search_box{
background: #a2a3a5;
height: 40px;
border-radius: 20px;
padding: 10px;
}

body{
    background-color: #a2a3a5;
}

#parametro{
    display: flex;
    text-align: center;
}

#parametro .elemento{
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

#parametro .elemento p{
    padding: 10px;
}

#parametro .elemento h3{
    padding: 10px;
}

#parametro .elemento2{
    max-height: 500px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#parametro .elemento2 ul{
    list-style-type: none;
}

#parametro .elemento2 ul li{
    padding: 10px;
}

.bottom{
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 9px;
    background-color: gray;
}

h1{
    margin: 10px;
    text-align: center;
}
h2{
    margin:20px;
    text-align: center;   
}

h3{
    margin: 10px;
    text-align: center;
}

h4{
    margin: 20px;
}

.img_home_page{
    width: 300px;
   }