@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

:root{
    --color-1:black;
    --color-2:#fff;
    --color-3:#a2a3a5;
    --color-4:grey;

}

header{
    background-color: var(--color-1);
    width: 100%;
    display: flex;
}

header #container{
    display: flex;
    align-items: center;
}

header #container .logo{
    display: flex;
    width: 12%;
    margin: 20px;
}

.search-box{
margin: 20px;
background: var(--color-2);
height: 40px;
border-radius: 20px;
padding: 10px;
display: flex;
}

.input-busc input{
    border: 0;
    outline: 0;
    font-size: 15px;
}

body{
    background-color:var(--color-3);
}

#parametro{
    display: flex;
    text-align: center;
}

#parametro .elemento{
    background-color:var(--color-2);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

#parametro .elemento p{
    padding: 10px;
}

#parametro .elemento h3{
    padding: 10px;
}

#parametro .elemento2{
    max-height: 500px;
    background-color: var(--color-2);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#parametro .elemento2 ul{
    list-style-type: none;
}

#parametro .elemento2 ul li{
    padding: 10px;
}

.bottom{
    color: var(--color-2);
    text-decoration: none;
    border-radius: 8px;
    padding: 9px;
    background-color: var(--color-4);
}

h1{
    margin: 10px;
    text-align: center;
}
h2{
    margin:20px;
    text-align: center;   
}

h3{
    margin: 10px;
    text-align: center;
}

h4{
    margin: 20px;
}

.img_home_page{
    width: 300px;
   }

footer{
    background-color: var(--color-1);
}

.Logo-Rodape{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 100px;
}