@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

header{
    background-color: black;
    width: 100%;
    display: flex;
}

.container{
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul {
    list-style-type: none;
    background-color: black;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
}
#menu ul li a:hover{
     background-color: #3a3e46;
}
#logo{
    width: 90px;
    display: flex;
    margin: 10px;
    margin-inline: auto;
}

body{
    background-color: #a2a3a5;
}

h1{
    font-size: 3em;
    margin: 10px;
    text-align: center;
}
h2{
    display: flexbox;
    color: #2d2f35;
    border-right: 2px solid #2d2f35;
    font-size: 2.55em;
    margin:0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
}


.typing-animation{

    animation: blinkCursor 500ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal;

}

@keyframes typing {

    from{
        width: 0;
    }

    to{
        width: 34em;
    }
    
}

@keyframes blinkCursor{
    form{
        border-right-color: #2d2f35;
    }
    to{
        border-right-color: transparent;
    }
}

.img_home_page{
    width: 300px;
    display: block;
    margin-top: 12px;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
}